body{  
    margin: 0;
    padding: 0;  
}

body > *{
    flex: 1;
}
.header {
   background-color: lightblue;
   padding: 5px;
   display: flex;  
   justify-content: center;
   height: 8vh;
}

.top-words-wrapper {
background-image: url(./moby.jpg);
background-size: 100% ;
background-repeat: no-repeat;
object-fit: contain;
display: flex;
flex-direction: column;
height: 40vh;
align-items: center;
margin: 0;
}

.little-words{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px;
}

#find-out{
   width: 100px;
   height: 30px;
   background-color: burlywood;
   border-radius: 5px;   
}

#find-out:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: antiquewhite;
}


#one-hundred-words{
    display: flex;
    background-color: aquamarine;
    height: 40vh;
    margin: 0;
}

.footer{
    display: flex;
    height: 10vh;
    position: relative;
    bottom: 0;
    background-color: black;
    color: floralwhite;
    margin:0;
    padding: 1rem;
}

.footer > * {
    flex: 1;
}

#one-hundred-words{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#one-hundred-words > *{
    flex: 1;

}


#list{
font-size: 2rem;
}



.top-el-list{
    list-style: none;
  
}

.hide{
    display: none;
}