body {
    margin: 0;
    padding: 0;
}

body>* {
    flex: 1;
}

.header {
    background-color: lightblue;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.top-words-wrapper {
    background-image: url(./moby.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: aquamarine;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    margin: 0;

    animation-duration: 0.1s;
    animation-name: transistion;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


.little-words {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px;
}

#find-out {
    width: 100px;
    height: 30px;
    background-color: burlywood;
    border-radius: 5px;
}

#find-out:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: antiquewhite;
}

.message{
    font-size: 1.5rem;
    color: rgb(241, 228, 35);
}

#more-arrows {
    width: 75px;
    height: 65px;
   
}

polygon {
    fill: #FFF;
    transition: all .2s ease-out;
}

polygon:hover {
    fill: #FFFF;
    transition: all .2s ease-out;
}


.arrow-middle {
    opacity: 0.75;
}

.arrow-top {
    opacity: 0.5
}

.arrow-top:hover {
    opacity: 0.2;
    transform: translateY(18px);
}

.arrow-middle:hover {
    opacity: 0.50;
    transform: translateY(-18px);
}

.arrow-bottom:hover {
    transform: translateY(-18px);
}








.footer {
    display: flex;
    height: 10vh;
    position: relative;
    bottom: 0;
    background-color: black;
    color: floralwhite;
    margin: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer>* {
    flex: 1;
}

#one-hundred-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    height: fit-content;
    margin: 0;
}

#one-hundred-words>* {
    flex: 1;

}


#list {
    font-size: 2rem;
}



.top-el-list {
    list-style: none;

}

.top-el-list:hover {
    color: rgb(233, 24, 24);
    font-size: 3rem;
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (min-width: 768px) {


    .top-words-wrapper {
        height: 100vh;
    }


}

@media screen and (max-width: 768px) {

    .header{
      text-align: center;  
    }

    #list {
        font-size: 1.25rem;
    }

    .little-words {
        font-size: 1rem;
    }

    .top-words-wrapper{
        height: 100vh;
        background-color:aquamarine;
        text-align: center;
    }

    .message{
        position: absolute;
        font-size: 1rem; 
        top: 400px;
        color:rgb(233, 24, 24) ;    
    }

    #more-arrows{
        position: absolute;
        top: 500px;
    }

    .footer{
        font-size: .75rem;
    }

}